.map-view
  .map.floor--2.active(data-floor=-2)
    .floor-number -2
    object.map-image.svg-map(data="/img/ebene-0.svg" type="image/svg+xml")
  .map.floor--1.active(data-floor=-1)
    .floor-number -1
    object.map-image.svg-map(data="/img/ebene-0.svg" type="image/svg+xml")
  .map.floor-0.active(data-floor=0)
    .floor-number 0
    .draw-area
    object.map-image.svg-map(data="/img/ebene-0.svg" type="image/svg+xml")