.scan-box
  h2 QR code scannen
  .qr-placeholder
    object(data="/img/qr-placeholder.svg" type="image/svg+xml")

  h2 oder Code eingeben
  form
    div
      input(type="number", name="code", placeholder=1234)
      button(type="submit")
        i.ion-ios-checkmark-empty
    .info
