.scan-box
  h2 Standort
  .qr-placeholder
    object(data="/img/qr-placeholder.svg" type="image/svg+xml")
      

  
  form
    div
      input(type="number", name="code", placeholder=1234)
      button(type="submit" class="check")
        i.ion-ios-checkmark-empty
       .info
        hr 
    div     
      p Bitte den QR-Code scannen oder den 
      p sich darunter befindlichen Code eingeben
