.search-box
  .search-field

    .start
      .icon-container
        span.search-icon: i.ion-ios-search-strong
        span.start-icon: i.ion-ios-circle-filled
        span.dots-icon: i.ion-more
      input(type="text", name="start", placeholder="Start")
      .icon-container.clear-search(data-hook="clear", data-input="start")
        span: i.ion-ios-close-empty

    .destination
      .icon-container
        span.location-icon: i.ion-ios-location
      input(type="text", name="destination", placeholder="Ziel")
      .icon-container.clear-search(data-hook="clear", data-input="destination")
        span: i.ion-ios-close-empty

    button(data-hook="swap").swap-btn: i.ion-arrow-swap

  .results-box
