.search-box
  .search-field

    .start
      span.search-icon: i.ion-ios-search-strong
      span.start-icon: i.ion-ios-circle-filled
      input(type="text", name="start", placeholder="Start")
      span(data-hook="clear", data-input="start").clear-search: i.ion-ios-close-empty

    .destination
      span.location-icon
        i.ion-more
        i.ion-ios-location
      input(type="text", name="destination", placeholder="Ziel")
      span(data-hook="clear", data-input="destination").clear-search: i.ion-ios-close-empty

    button(data-hook="swap").swap-btn: i.ion-arrow-swap

  .results-box
