/* Grundstyles für die runden Buttons */
.btn-round {
  width: var(--grid-u-4);
  height: var(--grid-u-4);
  border-radius: var(--grid-u-2);
  color: var(--slub-red);
  background-color: white;
  border: 0.5px solid var(--slub-grey);
  box-shadow: var(--shadow);
  margin-right: var(--grid-spacing);
  transition: transform 100ms ease-out;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.btn-round:focus {
  outline: none;
}

.btn-round:active {
  transform: scale(1.06);
}

.buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: var(--grid-spacing);
}

.popover.open {

}
