/* Grundstyles für die runden Buttons */
.btn-round {
  width: var(--grid-u-4);
  height: var(--grid-u-4);
  border-radius: 30px;
  color: var(--slub-red);
  background-color: white;
  border: 1px solid #d4d5d5;
  box-shadow: var(--shadow);
  margin-right: var(--grid-spacing);
}

.btn-round:focus {
  outline: none;
}

.buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: var(--grid-spacing);
}

.popover.open {

}
