* {
  box-sizing: border-box;
}

@import "../node_modules/normalize.css/normalize.css";
@import "ionicons.css";
@import "../node_modules/popover/popover.css";
@import "../node_modules/popover/popover-theme.css";
@import "typo.css";
@import "variables.css";

@import "buttons.css";
@import "map.css";

body {
  overflow: hidden;
}

ul {
  border-top: 1px solid var(--slub-grey);
  list-style: none;
  padding: 1vh;
  margin: 0;
}

li {
  padding: 1vh 40px;
}

input:focus {
  outline: 0;
}

.search-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 315px;
  margin: 2vh 2vw;
  box-shadow: var(--shadow);
  background-color: #fff;
  border: 0.5px solid var(--slub-grey);
  border-radius: 3px;
}

.search-field {
  padding: 1px;
  text-align: center;
}

.search-field input {
  padding: 10px;
  border: none;
  border-radius: 0;
  vertical-align: bottom;
  width: 80%;
}

.animate {
  transition: transform 0.325s cubic-bezier(0.215, 0.61, 0.355, 1);
}
