.map-view {
  perspective: 1200px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: visible;
  opacity: 1;
  animation: zoomOut 1s ease-in-out;
}

@keyframes zoomOut {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  33% {
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.map {
  opacity: 0;
  position: absolute;
  border: 6px solid transparent;
  will-change: transform, border-color, opacity, box-shadow;
  transition-property: transform, opacity, box-shadow, border-color;
  transition-duration: 350ms;
  transition-timing-function: ease-out;
}

.map * {
  pointer-events: none;
}

.map.active {
  opacity: 1;
}

.map #weg-1,
.map #weg-2,
.map #weg-3 {
  opacity: 0;
  transition: opacity 250ms ease-out;
}

.map #weg-1.active,
.map #weg-2.active,
.map #weg-3.active {
  opacity: 1;
}

.draw-area {
  position: absolute;

  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  z-index: 100;
}

.pin {
  position: absolute;

  width: 50px;
  height: 50px;
}

.pin i {
  position: absolute;

  left: 0%;
  top: -50%;

  animation-name: dropIn;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
}

@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-550%);
  }
  33% {
    opacity: 1;
  }
  to {
    transform: translateY(-50%);
    opacity: 1;
  }
}

/* Layered 3D */

.layered .map {
  opacity: 1;
  cursor: pointer;
  border-color: #333;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  filter: grayscale(100%);
}

.layered .map:hover,
.layered .map.active {
  border-color: var(--slub-red);
  filter: none;
}

.layered .map.floor-0 {
  transform: translateY(-300px) rotateX(67.5deg) rotateZ(45deg) scale(0.5);
}

.layered .map.floor--1 {
  transform: translateY(-190px) rotateX(67.5deg) rotateZ(45deg) scale(0.5);
}

.layered .map.floor--2 {
  transform: translateY(-80px) rotateX(67.5deg) rotateZ(45deg) scale(0.5);
}
