/* Scanner Popover */

.scan-box-popover {
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  border: 0.5px solid var(--slub-grey);
  margin-top: -var(--grid-spacing);
  text-align: center;
  width: var(--grid-width);
  will-change: transform opacity;
  transition: opacity 200ms;
}

@media only screen and (max-width: 1024px) {
  .scan-box-popover {
    width: var(--grid-width-sm);
  }
}

.popover-content {
  padding: var(--grid-spacing);
}

.popover-top > .popover-arrow {
  border-top-color: var(--slub-grey);
}

.scan-box-popover.open {
  transform-origin: 90% 110%;
  animation-name: open;
  animation-delay: 0;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
}

.scan-box-popover.fade {
  /*transition: opacity 200ms;*/
}

.scan-box-popover .qr-placeholder {
  background-color: white;
  background-image: url(/img/border-qr.svg);
  width: calc(2 * var(--grid-u-4));
  height: calc(2 * var(--grid-u-4));
  margin: 0 auto;
  background-repeat: no-repeat;
}

.scan-box-popover .qr-placeholder object {
  width: 80%;
  height: 80%;
  margin-top: 10px;
}

.scan-box-popover input {
  -webkit-appearance: none;
  display: inline-block;
  width: 4em;
  padding-left: var(--grid-spacing);
  border:none;
  margin-top: 60px ;
  height: 48px;
}

.info {
  margin: 1vh 0;
}

.scan-box-popover button {
  height: 48px;
  width: 48px;
  display: inline-block;
  vertical-align: top;
  background: none;
  padding: 0;
  border: none;
}

.scan-box-popover button i {
  font-size: 3em;
  line-height: 1;
}

.check {
  margin-top: 60px ;
  display: inline-block;
  margin-left: -10px;
}

.scan-box-popover hr {
  width: calc(2 * var(--grid-u-4));
  margin-bottom: 0px;
}
