.search-box {
  position: fixed;
  margin: var(--grid-spacing);
  top: 0;
  right: 0;
  width: var(--grid-width);
  box-shadow: var(--shadow);
@media only screen and (max-width: 1024px) {
  .search-box {
    width: var(--grid-width-sm);
  }
}
  background-color: #fff;
  border: 0.5px solid var(--slub-grey);
  border-radius: var(--border-radius);
}

.search-field span {
  display: inline-block;
  height: var(--grid-u-3);
  width: var(--grid-u-3);
  text-align: center;
  vertical-align: top;
  padding: 6px;
}

.search-field input {
  border: 0.5px solid transparent;
  padding: 12px;
  border-radius: 0;
  width: calc(100% - 2 * var(--grid-u-3));
}

.clear-search {
  cursor: pointer;
}

.clear-search i {
  color: var(--slub-grey);
  transition: color 0.25s;
  pointer-events: none;
}

.search-field input:focus + .clear-search i {
  color: var(--slub-red);
}

.search-box .search-results {
  border-top: 0.5px solid var(--slub-grey);
}

.search-box .search-item {
  padding: var(--grid-spacing);
  padding-left: 60px;
  padding-bottom: 0;
}

.search-box .search-item:last-child {
  padding-bottom: var(--grid-spacing);
}

.search-box .search-item a,
.search-box .search-item p {
  overflow: hidden;
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-box .search-item p {
  font-size: 0.75em;
  pointer-events: none;
}

/* Route View */

.search-box .swap-btn,
.search-box .destination,
.search-box .start-icon {
  display: none;
}

.search-box.route-view .destination {
  display: block;
}

.search-box.route-view .start-icon {
  display: inline-block;
}

.search-box.route-view .search-icon {
  display: none;
}

.search-box.route-view input {
  width: calc(100% - 3 * var(--grid-u-3));
}

.search-box.route-view input[name="start"] {
  border-bottom: 0.5px solid var(--slub-grey);
}

.search-box.route-view span:first-child {
  position: relative;
}

.search-box.route-view .start-icon,
.search-box.route-view .location-icon {
  padding: 10px;
}

.search-box.route-view .ion-ios-circle-filled,
.search-box.route-view .ion-ios-location {
  font-size: 1.5em;
}

.search-box.route-view .ion-more {
  position: absolute;
  top: -14px;
  left: 50%;
  margin-left: -8px;
  font-size: 1.25em;
  transform: rotate(90deg);
}

.search-box.route-view .swap-btn {
  display: block;
  border: none;
  background: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 24px;
  right: var(--grid-u-3);
  transform: rotate(90deg);
  font-size: 0.875em;
  height: var(--grid-u-3);
  width: var(--grid-u-3);
  cursor: pointer;
}

.search-box.route-view .clear-search {
  margin-left: var(--grid-u-3);
}

/* Nicht-Retina Geräte */
@media (-webkit-max-device-pixel-ratio: 1.25), (max-resolution: 120ddpx) {
  .search-box .search-results {
    border-top-width: 1px;
  }

  .search-box.route-view input[name="start"] {
    border-bottom-width: 1px;
  }
}
