:root {
  /* SLUB Farben */
  --slub-red: #cc0000;
  --slub-link: #078078;
  --slub-header: #87cdd7;
  --slub-lightblue: #44ddee;
  --slub-grey: #a7a5a3;

  --shadow: 2px 2px 10px rgba(170, 170, 170, 0.75);
  --grid-spacing: 16px;
  --grid-u-1: 16px;
  --grid-u-2: 32px;
  --grid-u-3: 48px;
  --grid-u-4: 64px;
  --grid-width: 33.333333333%;

  --border-radius: 3px;
}
